* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100svh;
  width: 100svw;
  font-family: "Noto Sans JP", sans-serif;
  background-color: #fff0e0;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  header {
    h1 {
      text-align: center;
      margin: 24px 0;
      font-size: 24px;
    }
  }


  main {

    #myAssetArea {
      width: fit-content;
      margin: 12px auto 24px;
      font-size: 20px;
      display: flex;
      align-items: baseline;

      #myAsset {
        font-size: 32px;
        font-weight: bold;
        margin: 8px;
      }
    }


    #myStatusArea {
      margin: 24px 12px 0;

      #myMoneyArea {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 12px 0 24px;

        dt {
          margin-right: 12px;
        }
        dd {
          #myMoney {
            font-size: 24px;
            font-weight: bold;
          }
        }
      }
    }
      
    #stockPriceArea {
      margin: 0 24px;
      border: 6px solid #d6932e;
      border-radius: 24px;
      padding: 24px 24px 24px 36px;
      background-color: #fff8f0;

      dl {
        display: flex;
        align-items: center;
        line-height: 1.8;
      
        dt {
          width: 6em;
          margin-right: 24px;
        }
        #stockPrice {
          font-size: 28px;
          font-weight: bold;
          margin-right: 12px;
        }
        #stockValue {
          font-size: 20px;
          font-weight: bold;
          margin-right: 8px;
        }
      }
    }

    #myMoneyArea {
      display: flex;
      justify-content: center;
      align-items: baseline;
      margin: 60px 0 36px;

      dt {
        margin-right: 12px;
      }
      dd {
        #myMoney {
          font-size: 24px;
          font-weight: bold;
          margin-right: 12px;
        }
      }
    }

    #buySellArea {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 18px;

      .buy-sell-Button {
        cursor: pointer;
        border: 5px solid #888;
        border-radius: 24px;
        padding: 18px 24px 24px;
        background-color: #fff8f0;
        box-shadow: 0 8px 0px #ccc;

        &:hover {
          background-color: #fee8e8;
        }
        &:active {
          box-shadow: none;
          position: relative;
          top: 8px;
        }

        span {
          line-height: 2.0;
        }

        label {
          display: block;

          input {
            pointer-events: none;
            width: 3em;
            margin-right: 6px;
            padding: 6px 12px;
            text-align: right;
            border: 4px solid #888;
            border-radius: 8px;
            font-size: 20px;
            font-weight: bold;
          }
        }
      }
    }
  }
  footer {
    text-align: center;
    padding: 12px 0;
    font-size: 14px;
    color: #666;
  }
}

.small-text {
  font-size: 12px;
  color: #666;
  margin-left: 8px;
  line-height: 1.0;
}


.buy-ttl, .sell-ttl {
  display: block;
  font-weight: bold;
  text-align: center;
  font-size: 1.2em;
}
.buy-ttl {
  color: #d43;
}
.sell-ttl {
  color: #36a;
}

.btnvalue-container {
  text-align: center;
}